.colorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colorTitle{
    margin: 20px;
    font-size: 3rem;
}
.colorDisplay{
    color: white;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 5px solid rgb(167, 156, 156);
    transition: 0.25s ease;
}

.colorDisplay p{
    font-size: 1.3rem;
    text-align: center;
}