
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --first-color:  #464ef0;
  --second-color: #686ff5;
  --success-color: green;
  --error-color: red;
  --waring-color: orange;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1100px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 20px 0px;
}

/* CSS card */

.card{
  display: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  align-items: center;
  max-width: 250px;
  margin: 10px;
  display: inline-block;
}

.card-image{
  width: 180px;
  height: 195px;
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}


.card-title{
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--second-color);
}

.card-description{
  font-size: 14px;
  color: var(--second-color);
}

/* student */

.student{
  font-size: 1.5rem;
  border: 1px solid var(--waring-color);
  text-align: center;
  margin-bottom: 20px;
  max-width: 300px;
  padding: 10px 20px;
}

.success{
  background-color: var(--success-color);
  color: white;
}

.failure{
  background-color: var(--error-color);
  color: white;

}
/* List */
.list-category{
  border: 2px solid var(--first-color);
  border-radius: 5px;
  color: #464ef0;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(155, 193, 207);
}

.list-items li{
  font-size: 1.5em;
  list-style: none;
  color: var(--second-color);
  margin: 0;
  text-align: center;

}

.list-items li:hover{
  color: #3740e2;
  cursor: pointer;
}

/* input */
input[type="text"], input[type="number"]{
  padding: 10px 20px;
  font-size: 20px;
}

textarea{
  width: 500px;
  height: 100px;
}

button{
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: var(--first-color);
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}